<div class="under-nav">
<h1>States</h1>
</div>
<% @states.each do |state| %>
<ul>
	<li><%= state.abrv %> <%= state.name %> <%= state.population %> <%= state.lat %> <%= state.long %></li>
</ul>
<% end %>