
<div class="under-nav">
<!-- image from http://www.calgarybrewerytours.beer/tours/ -->
<img src="/beer_logo.png"/><h1 class="home_header hidden-xs">Welcome to United Crafts of America</h1>
</div>
<h3>A website dedicated to the craft brews in the USA</h3>
<p>Click on each marker to expand the state data.</p>
<div id="map"></div>
    <script>
      function initMap() {

        // load the map
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40, lng: -100},
          zoom: 4,
          styles: mapStyle
        });

      var mapStyle = [{
          'featureType': 'all',
          'elementType': 'all',
          'stylers': [{'visibility': 'off'}]
        }, {
          'featureType': 'landscape',
          'elementType': 'geometry',
          'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
        }, {
          'featureType': 'water',
          'elementType': 'labels',
          'stylers': [{'visibility': 'off'}]
        }, {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [{'visibility': 'on'}, {'hue': '#5f94ff'}, {'lightness': 60}]
        }];

        <% @states.each do |s| %>
        <% num_beers = 0 %>
        <% num_breweries = s.breweries.count() %>
        <% s.breweries.each do |br| %>
        <% num_beers += br.beers.count() %>
        <% end %>
        var marker = new google.maps.Marker({
	      position: {lat: <%= s.lat %>, lng: <%= s.long %>},
	      map: map,
	      icon: {
		  url: "/marker.png",
		  scaledSize: new google.maps.Size(35, 45),
      animation:google.maps.Animation.DROP
	      }
        }).addListener('click', function(){ 
                    new google.maps.InfoWindow({
                    content: '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3>' + '<%= link_to s.name, "/states/#{s.id}" %>' +'</h3>'+
            '<div id="bodyContent">'+'<span>'+'Number of breweries: ' + '<%= num_breweries %>' + '</span>'+ '<br>'+
            '<span>'+'Number of crafts: '+'<%= num_beers %>'+'</span>'+
            '</div>'+
            '</div>'
                }).open(map, this);
        });

        <% end %>
      
      }

   </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg299oHS0oMVGpAQ9bym65s8aIsFSkzq8&callback=initMap">
    </script>








