<div class="under-nav">
  <h1>Name: <%= @style.name %></h1>
 </div>
<% all_beers = Beer.all.count() %>
<% beers = @style.beers.count() %>
<% beers_percent = (beers.to_f / all_beers) * 100 %>
<div class="row">
<div class="col-lg-3 col-xl-3 col-md-3"></div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<h3><%= @style.name %> percent of total crafts in the US</h3>
<canvas id="myChart" class="myChart" style="display: block; height: 203px; width: 436px;margin-bottom: 20px;"></canvas>
<script>
new Chart(document.getElementById("myChart"),{"type":"doughnut","data":{"labels":["Other styles <%= (100 - beers_percent.to_i) %>%","<%= @style.name %> <%= (beers_percent.to_i < 1) ? "less than 1" : beers_percent.to_i %>%"],"datasets":[{"label":"Percent of total <%= @style.name %> in USA","data":[<%= (100 - beers_percent.to_i) %>, <%= beers_percent.to_i %>],"backgroundColor":["rgb(255, 99, 132)","rgb(255, 205, 86)"]}]}});
Chart.defaults.global.defaultFontColor = '#666';
</script>
<h2><%= @style.name %> Crafts</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery</th>
    </tr>
  </thead>
  <tbody>
  	<% @beers = Beer.where(style_id: @style.id).order(:name).paginate(:page => params[:page], :per_page => 20) %>
    <%  @beers.each do |beer| %>
    <% brewery = Brewery.find(beer.brewery_id) %>
      <tr>
        <td><%= link_to beer.name, "/beers/#{beer.id}" %></td>
        <td><%= link_to brewery.name, "/breweries/#{brewery.id}" %></td>
        <%- #link_to 'Show', brewery %>
        <%- #link_to 'Edit', edit_brewery_path(brewery) %>
        <%- #link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-lg-3 col-xl-3 col-md-3"></div>
<%- #link_to 'Edit', edit_style_path(@style) %> 
<%- #link_to 'Back', styles_path %>
</div>
<div class="row">
<%= will_paginate @beers %>
</div>