<div class="under-nav">
<h2><%= @brewery.name %></h2>
</div>

<p>
  <strong>City:</strong>
  <%= @brewery.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @brewery.state_id %>
</p>

<ul>
     <% @brewery.beers.each do |b| %>
    <li><%= link_to b.name, "/beers/#{b.id}" %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
