<div class="under-nav">
<h1>Crafts</h1>
</div>
<div class="row">
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
<h4>Search beer by name</h4>
<%= form_tag("/beers/search", :method => "post") do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
    <% if beer.style_id %>
    <% style = Style.find(beer.style_id) %>
    <% else %>
    <% style = Style.find(378) %>
    <% end %>
      <tr>
        <td><%= link_to beer.name, "/beers/#{beer.id}" %></td>
        <td><%= link_to Brewery.find(beer.brewery_id).name, "/breweries/#{beer.brewery_id}" %></td>
        <%- #link_to 'Show', beer %>
        <%- #link_to 'Edit', edit_beer_path(beer) %>
        <%- #link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-lg-4 col-xl-4 col-md-4"></div>
<%- #link_to 'New Beer', new_beer_path %>
</div>
<div class="row">
<%= will_paginate @beers %>
</div>
