<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">United Crafts of America</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Breweries",   breweries_path %></li>
            <li><%= link_to "Crafts", beers_path %></li>
            <li><%= link_to "States", states_path %></li>
            <li><%= link_to "Styles", styles_path %></li>
            <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Top10 <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Crafty states</a></li>
                <li><a href="#">Strongest Brews</a></li>
                <li><a href="#">Brewed styles</a></li>
            </ul>
        </li>
             <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">JSON API <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/api/beer">Beers</a></li>
                <li><a href="/api/brewery">Breweries</a></li>
                <li><a href="/api/style">Styles</a></li>
                <li><a href="/api/state">States</a></li>
            </ul>
        </li>
            </ul>
        </div>
    </div>
</nav>

